<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @profile.image %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>From:</strong>
  <%= @profile.from %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @profile.sex %>
</p>

<p>
  <strong>Area:</strong>
  <%= @profile.area %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @profile.skill %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @profile.salary %>
</p>

<p>
  <strong>Performance:</strong>
  <%= @profile.performance %>
</p>

<p>
  <strong>Career:</strong>
  <%= @profile.career %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @profile.comment %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
