<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, '氏名' %><br>
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :age, '年齢' %><br>
    <%= f.text_field :age, :required => true %>
  </div>
  <div class="field">
    <%= f.label :area, '出身' %><br>
    <%= f.text_field :area, :required => true %>
  </div>
  <div class="field">
    <%= f.label :sex, '性別' %><br>
    <%= f.text_field :sex, :required => true %>
  </div>
  <div class="field">
    <%= f.label :skill, 'スキル' %><br>
    <%= f.text_field :skill, :required => true %>
  </div>
  <div class="field">
    <%= f.label :salary, '給料' %><br>
    <%= f.text_field :salary, :required => true %>
  </div>
  <div class="field">
    <%= f.label :career, '経歴' %><br>
    <%= f.text_field :career, :required => true %>
  </div>
  <div class="field">
    <%= f.label :comment, 'ひとこと' %><br>
    <%= f.text_field :comment, :required => true %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>

  <
<% end %>
