<div class="background">
	<h1 class="new_h1">登録してください</h1>

<<<<<<< HEAD
<%= render 'form' %>

<%= link_to 'Back', users_path %>

<%= link_to "TOPへ戻る", root_path %>
=======
	<div class="regist_form">
		<%= render 'form' %>
	<div>
	<%= link_to 'Back', users_path %>
	<%= link_to "TOPへ戻る", root_path %>
</div>
>>>>>>> 649b84aec71771662432ed1af84b2a879d5df467
