<p id="notice"><%= notice %></p>

<p>
  <strong>氏名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>年齢:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>出身:</strong>
  <%= @user.area %>
</p>

<p>
  <strong>性別:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>スキル:</strong>
  <%= @user.skill %>
</p>

<p>
  <strong>給料:</strong>
  <%= @user.salary %>
</p>

<p>
  <strong>経歴:</strong>
  <%= @user.career %>
</p>

<p>
  <strong>ひとこと:</strong>
  <%= @user.comment %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to "TOPへ戻る", root_path %>
