<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @post.sex %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @post.skill %>
</p>

<p>
  <strong>Area:</strong>
  <%= @post.area %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @post.teacher_id %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
